
@{
    ViewBag.Title = "Page2";
}

<div id="content" class="site-content content strip-header-menu-content">

    <div class="page-layout has-fullwidth">
        <div class="page-container container-fluid">
            <div class="page-row row no-sidebar ">


                <div class="page-column page-content col-sm-12 col-md-12">
                    <div id="primary" class="primary content-area">
                        <main id="main" class="site-main">


                            <article id="post-769" class="post-769 page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div id="agni-row-83175" class="section-row" style="padding-bottom: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-83175"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 7px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-27426 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div id="primary-portfolio" class="page-portfolio content-area shortcode-page-portfolio">
                                                                <div id="main-portfolio" class="page-portfolio-container container-fluid  site-main">

                                                                    <div class="portfolio-container portfolio-fullwidth has-hardcrop">
                                                                        <div class="row portfolio-row ignore-thumbnail-settings" style="margin: 0 -7px; margin: 0 7px; " data-gutter="14" data-grid="fitRows" data-posttype-autoplay="true" data-posttype-autoplay-timeout="4000" data-posttype-autoplay-speed="700" data-posttype-autoplay-hover="true" data-posttype-loop="true" data-posttype-pagination="true" data-posttype-navigation="false">
                                                                            
                                                                            
                                                                            <div id="portfolio-post-409" class="portfolio-column portfolio-post portfolio-hover-style-1 all branding  width1x height1x col-xs-12 col-sm-6 col-md-3 animate" data-hardcrop="true" data-thumbnail-width="480" data-thumbnail-height="480" data-animation="fadeInUp" data-animation-offset="90%" style="margin: 7px 0; padding: 0 7px; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s; animation-duration: 0.8s; animation-delay: 0.4s;">
                                                                                <div class="portfolio-content-container" style="background-color:rgba(11,11,11,0.65); color:#f0f0f0; ">
                                                                                    <div class="portfolio-thumbnail">
                                                                                        <img class="portfolio-thumbnail-attachment-image attachment-480x480 " src="~/Content/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail-9-480x480.jpg" width="480" height="480" alt="portfolio-thumbnail-9" title="portfolio-thumbnail-9" />
                                                                                    </div>
                                                                                    <div class="portfolio-caption-content">
                                                                                        <a class="portfolio-content-link"         href="@Url.Action("Hillsong","Section")" target="_self"></a>
                                                                                        <div class="portfolio-content">
                                                                                            <div class="portfolio-content-details">
                                                                                                <a class="portfolio-content-link" href="@Url.Action("Hillsong","Section")" target="_self">
                                                                                                    <div class="portfolio-content-inner">
                                                                                                        <h5 class="portfolio-title">Hillsong</h5><ul class="portfolio-category list-inline"><li>Branding</li></ul>
                                                                                                    </div>
                                                                                                </a>
                                                                                                <div class="portfolio-meta"><a     href="@Url.Action("Hillsong","Section")" target="_self"><i class="pe-7s-link"></i></a><a href="../../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail-9.jpg" class="portfolio-attachment"><i class="pe-7s-photo"></i></a></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                            <div id="portfolio-post-501" class="portfolio-column portfolio-post portfolio-hover-style-1 all app logo-design  width1x height1x col-xs-12 col-sm-6 col-md-3 animate" data-hardcrop="true" data-thumbnail-width="480" data-thumbnail-height="480" data-animation="fadeInUp" data-animation-offset="90%" style="margin: 7px 0; padding: 0 7px; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s; animation-duration: 0.8s; animation-delay: 0.8s;">
                                                                                <div class="portfolio-content-container" style="background-color:rgba(250,250,250,0.65); color:#741c44; ">
                                                                                    <div class="portfolio-thumbnail">
                                                                                        <img class="portfolio-thumbnail-attachment-image attachment-480x480 " src="~/Content/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail-11-480x480.jpg" width="480" height="480" alt="portfolio-thumbnail-11" title="portfolio-thumbnail-11" />
                                                                                    </div>
                                                                                    <div class="portfolio-caption-content">
                                                                                        <a class="portfolio-content-link" href="@Url.Action("FormulaCreative","Section")" target="_self"></a>
                                                                                        <div class="portfolio-content">
                                                                                            <div class="portfolio-content-details">
                                                                                                <a class="portfolio-content-link" href="@Url.Action("FormulaCreative","Section")" target="_self">
                                                                                                    <div class="portfolio-content-inner">
                                                                                                        <h5 class="portfolio-title">Fórmula Creativa</h5><ul class="portfolio-category list-inline"><li>App</li><li>Logo Design</li></ul>
                                                                                                    </div>
                                                                                                </a>
                                                                                                <div class="portfolio-meta"><a href="@Url.Action("FormulaCreative","Section")" target="_self"><i class="pe-7s-link"></i></a><a href="../../../wp-content/uploads/sites/4/2016/11/portfolio-thumbnail-11.jpg" class="portfolio-attachment"><i class="pe-7s-photo"></i></a></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>                        <div class="grid-sizer col-xs-12 col-sm-6 col-md-3"></div>
                                                                        </div>
                                                                        <div class="portfolio-number-navigation page-number-navigation navigation text-center">
                                                                            <ul class='page-numbers'>
                                                                                <li><a class="prev page-numbers" href="@Url.Action("Index","Works")">Previous</a></li>
                                                                                <li><a class='page-numbers' href='@Url.Action("Index","Works")'>1</a></li>
                                                                                <li><span class='page-numbers current'>2</span></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- #main -->
                                                            </div><!-- #primary -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->



                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div>
            </div>
        </div>
    </div>


</div><!-- #content -->
